@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&family=Roboto+Mono:wght@300&display=swap');

body {
    background-color:papayawhip;
    background-image:url("../images/camelCase.png");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center bottom;
    margin: 3%; 
    
}

a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-style: none;
    border: none;
        }

.container {
    background-color: palevioletred;
    margin: auto;
    width: 90vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1 {
    background-color: lightpink;
    padding: 10px;
    border: 10px double wheat;
    border-radius: 20px;
    font-size: 54px;
    font-family: 'Orbitron', sans-serif;
    
}

h2 {
    background-color: lightpink;
    padding: 10px;
    border: 10px double wheat;
    border-radius: 20px;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
}
.input-name {
    text-align: center;
}

 #homeBtn, #nameHS, #highscores {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    padding: 2%;
    margin: 20px;
    border:wheat double 10px;
    background-color:lightpink;
    border-radius: 10px
}


