

body {
    font-style: none;
    font-family: ;
    
}

.container {
    background-color: palevioletred;
    border-radius: 8px;
    box-shadow: pink(60, 64, 67, 2); 
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    background-color: hotpink;

}




