@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&family=Roboto+Mono:wght@300&display=swap');

body {
    background-color:papayawhip;
    background-image:url("../images/camelCase.png");
    background-repeat: repeat; 
    background-attachment: fixed;
    background-position: center bottom;
    margin: 3%;     
    
}

a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-style: none;
    border: none;
        }

.container {
    background-color: palevioletred;
    margin: auto;
    width: 60%;
    width: 90vh;
    border-radius: 8px;
    box-shadow: pink(60, 64, 67, 2); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1 {
    background-color: lightpink;
    padding: 10px;
    border: 10px double wheat;
    border-radius: 20px;
    font-size: 54px;
    font-family: 'Orbitron', sans-serif;
    
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.buttons {
    display: flex;
    flex-direction: column;
    
}

.buttons:hover {
    cursor: pointer;

}

#playgame {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    padding: 2%;
    margin: 20px;
    border:wheat double 10px;
    background-color:lightpink;
    border-radius: 10px
}


#noBtn, #yesBtn, #highscoreBtn {
    text-decoration: none;
    font-size: 30px;
    padding: 1%;
    margin: 20px;
    border:wheat 4px double;
    background-color:lightpink;
    border-radius: 10px

}


