

body {
    font-style: none;
    font-family: ;
    
}

.container {
    background-color: palevioletred;
    margin: auto;
    width: 60%;
    width: 90vh;
    border-radius: 8px;
    box-shadow: pink(60, 64, 67, 2); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1 {
    background-color: lightpink;
    padding: 10px;
    border:lightpink 1px;
    border-radius: 10px;
    font-size: 60px;
    font-family: serif;
}


.buttons {
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
     

} 

.buttons:hover {
    cursor: pointer;

}

#playgame {
    padding: 4%;
    margin: 20px;
    border:gold 5px solid;
    background-color: rgb(170, 238, 200);
    border-radius: 10px

}
#no, #yes {
    text-decoration: none;
    font-size: 30px;
    padding: 1%;
    margin: 20px;
    border:gold 5px solid;
    background-color: rgb(170, 238, 200);
    border-radius: 10px

}

#highscore {
    text-decoration: none;
    font-size: 30px;
    padding: 1%;
    margin: 20px;
    border:gold 5px solid;
    background-color: rgb(170, 238, 200);
    border-radius: 10px

}

a {
    text-decoration: none;
    font-style: none;
    border: none;
    
        }

ul {

    list-style: none;
    font-size: large;
}

a {
    font-style: none;
}